*.egg
*.egg-info
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.tgz
.DS_Store
.cache
.classpath
.eggs
.idea/
.idea_modules/
.project
.scala_dependencies
.settings
conf/*.conf
conf/*.properties
conf/*.sh
dependency-reduced-pom.xml
derby.log
docs/api/
lib_managed/
logs/
metastore_db/
python-api/dist
reports/
src_managed/
target/
